
/*default*/
.inside-square-eraser {
	/*background-color: white;*/
	margin: 0px;
	border: 0.25px solid lightgrey;
	box-sizing: border-box;
}

.inside-square-red {
	background-color: red;
	margin: 0px;
	border: 0.25px solid lightgrey;
	box-sizing: border-box;
}

.inside-square-blue {
	background-color: blue;
	margin: 0px;
	border: 0.25px solid lightgrey;
	box-sizing: border-box;
}

#draw-space {
	/*background-color: green;*/
	height: 500px;
	width: 500px;
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	/*gap: .5px;*/
	border: 0.25px solid lightgrey;
}